<div class="home-info">  
  <div class="home-info__container">
    <h1 class="home-info__headline">Vehicle MOT information and <span class="home-info__brand">DVLA data.</span></h1>    
    <p class="home-info__description">Welcome to <strong>carid</strong> where you can quickly check if a vehicle has a current <strong>MOT certificate</strong>
       and is also currently <strong>taxed.</strong>      
    <p class="home-info__dvla">For more information please visit the <a href="https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency" class="home-info__link">DVLA site</a></p>
  </div>
</div> 