@import '../../mixins';

.home-info {
  background: rgba(0,0,0,0.03);
  &__headline {
    
    font-size: var(--huge-size);
    font-weight: 600;
    line-height: 1.05em;
    text-align: center;
  }

  &__brand {
    color: var(--brand-green);
  }

  &__extra {
    font-weight: 400;
    color: var(--teal);
    margin-block-start: 8px; 
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__description {    
    color: var(--bg-off-white);
    line-height: var(--line-height); 
    text-align: center;
  }

  &__aware {
    color: var(--bg-off-white);
    font-size: 12px;
    font-weight: 500;
    // display: flex;
    // justify-content: flex-end;
    //text-align: center; 
    margin-top: 20px;
  }

  &__link {
    color: var(--teal);
    text-decoration: underline; 
    font-weight: 500;
    &:hover {
      
    }
  }

  &__logo {
    width: 100px;
    height: 61px;
  }
}

@include respond-above(daddyshark) {
  .home-info {
      &__container {
        padding: 1em 2em;
      }
      &__headline {
        max-width: 75%;
      }
  }
}

@include respond-below(daddyshark) {
  .home-info {
    
    &__headline {
      font-size: var(--huge-size-ds);
      max-width: 80%;
    }

    &__container {
      padding: 1em;
    }
  }
}

@include respond-below(mummyshark) {
  .home-info {
    &__container {
      padding: 12px;      
    }

    &__headline {
      font-size: var(--huge-size-ms);
      line-height: 40px;
    }

    &__description {
      
    }
  }
}

@include respond-below(babyshark) {
  .home-info {
    &__headline {
      font-size: var(--huge-size-bs);
    }

    &__logo {
      width: 80px;
      height: 49px;
    }
  }
}