@import '../../mixins';

.footer {

    display: flex;
    justify-content: center;
    
    background: rgba(248, 248, 248, 0.8);  

    &__container {
        padding: 1em 1em 5px 1em;
        height: var(--footer-height);            
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;        
        width: 100%;
    }

    &__menu {
        grid-column: 2/2;
        display: flex;
        flex-direction: column;
    }

    &__info {
        grid-column: 1/1;
        grid-row: 1/3;
        font-size: 0.86em;
        color: var(--brand-color);
        
        &__link {
          text-decoration: underline;
        }
    }

    &__link {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff !important;
        transition: all 0.5s;

        &:hover {
            color: #0eb946 !important;
            cursor: pointer;           
            text-shadow: none;
        }
    }

    &__details, &__menu {
        justify-content: flex-start;
        align-items: flex-end;
    }

    &__details {
        grid-column: 2/2;
        grid-row: 2/2; 
        display: flex;
        flex-direction: column;
    }

    &__copyright {
        color: var(--label-color);
        font-size: 14px; 
        
    }

   

    .info { 
        i { 
            margin-right: 7px;
        }
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 18px;
        color: var(--label-color);
    }

    .copyright {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
        color: var(--label-color);
        font-size: 18px;
        align-self: end;
        
        i {
            margin-right: 7px;
        }
    }
}

@include respond-above(daddyshark) {
    .footer {
        &__container {
            max-width: 1200px;
        }
    }
}

@include respond-below(babyshark) {
    .footer {
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__info {
            margin-bottom: 20px;
        }
        
        &__details {
            margin-top: 30px;
            align-items: center;
        }
    }
}
