@import '../../mixins';

.vehicle {
  display: flex;
  justify-content: center;
  &__container {
    width: 100%;
  }

  section {
    padding: 1em 2em;
  }

  &__divider {
    height: 100px;
    background-color: #fff;
  }
  
}

.vehicle section:nth-child(3) {
  background-color: rgba(0,0,0,0.03);
}

@include respond-above(daddyshark) {
  .vehicle {

    &__container {      
      max-width: var(--max-width);
    }
  }
}

@include respond-below(mummyshark) {
  .vehicle {
    section {
      padding: 1em ;
    }
  }
}