@import '../../mixins';

.vehicle {
  display: flex;
  justify-content: center;
  &__container {
    width: 100%;
  }

  section {
    padding: 1em 2em;
  }
  
}

.vehicle section:last-child {
  background-color: rgba(0,0,0,0.03);
}

@include respond-above(daddyshark) {
  .vehicle {

    &__container {
      display: grid;
      grid-template-rows: 1fr 1fr;
      column-gap: 2em;      
      max-width: var(--max-width);
    }
  }
}