@import '../../mixins';

.vehicle {
  display: flex;
  justify-content: center;
  &__container {
    width: 100%;
  }
}

@include respond-above(daddyshark) {
  .vehicle {

    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2em;
      padding: 1em 2em;
    }
  }
}