<div class="rs">
  <div class="rs__container">
    <form role="search" [formGroup]="searchForm" id="searchRegistrationForm" 
      class="rs__form"
      (ngSubmit)="search()">
      
      <div class="rs__search__container">
        
        <input type="search" id="search-registration-input" name="search-registration-input"
        class="rs__input" formControlName="searchText"  
          placeholder="ENTER REG..">        
      </div>  
      <a class="rs__btn rs__btn--white" (click)="search()"> Search </a> 
    </form>
    <!-- <div class="rs__dvla">
    <mat-checkbox class="rs__check"
      [checked]="includeDvla$ | async"
      (change)="includeDvlaChanged($event)"
      color="primary"            
      labelPosition="after">
      include DVLA info
    </mat-checkbox>
    </div> -->
  </div>
</div>
