
@import '../../mixins';

.rs {
    display: flex;
    justify-content: center;
   
    &__container {
        
        padding: 0 1em;
    }

    &__dvla {
      display: flex;
      justify-content: center;
      padding: 1em;
    }

    &__check {
      font-size: 0.86em;
    }

    &__search{
      &__container {
        background-color: #fff;
        border-radius: 8px;
      }

      &__btn {
        position: absolute;
        top: 20px;
        left: 10px;
        cursor: pointer;
      }

      &__btn {
        left: auto;
        right: 15px;
      }

      &__icon {
        color: red;
      }
    }

    &__form {        
        display: flex;
        padding: 1px;
    }

    &__btn {
       line-height: 25px;
       margin-left: 20px;
       font-size: 18px;
       text-align: center;
        border-radius: 15px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 0;
        padding: 12px;
        color: #fff;
        background-color: #00a4ff;
        font-weight: 600;
        min-width: 100px;
        text-decoration: none;
        transition: background-color .15s,box-shadow .15s ease-in-out,transform .15s ease-in-out;

       &--white {
        background-color: #fff;
        border: 1px solid #fff;
        color: rgba(0,0,0,.9);
        box-shadow: 0 1px 4px 0 rgb(33 34 36 / 7%);
       }

       &:hover {
        cursor: pointer;
       }
   }      
    

    &__input {
        //background: #201c29;
        background-color: #fff;
        border: 0;
        //border: 2px solid rgba(32, 28, 41, 0.8);
        min-width: 0;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        color: rgba(32, 28, 41, 0.8);
        font-weight: 600;
        font-size: 1.5rem;
        padding: 1rem;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        -webkit-appearance: unset;
        outline: none;
    }
}



@include respond-above(daddyshark) {
    .rs {
        &__container {
             
        }
    }
}

@include respond-below(daddyshark) {
    .rs {

        &__container {
            
        }

        &__btn {
            padding: 0 35px 0 35px;
        }
    }
}

@include respond-below(mummyshark) {
    .rs {
        &__container {
            //max-width: 100%;
        }
    }
}

@include respond-below(babyshark) {
    .rs {
        &__form {
            flex-direction: column;
        }

        &__btn {
            border: 0;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 0;
            padding: 5px 20px 5px 18px;
        }

        &__input {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 0;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 0;  
        }
    }
}

