<div class="tests" *ngIf="tests">
  <mat-accordion class="tests__panel">
    <mat-expansion-panel *ngFor="let test of tests; index as i"
      [expanded]="step === i" (opened)="goto(i)" hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title>
          <h3 class="test__result" [ngClass]="{ 'tests__test--ok': test.result === 'PASSED',
          'tests__test--warning': test.result === 'FAILED'}">{{test.result}}</h3>
        </mat-panel-title>
        <mat-panel-description>
          <div class="test__details">
            <div class="test__dates">
              <span class="test__title">completed |</span>
              <div class="test__date">{{test.completedDate | date: 'longDate' }}</div>
            </div>

            <div class="test__dates">
              <span class="test__title">expires |</span>
              <div class="test__date">{{test.expiryDate | date: 'longDate' }}</div>
            </div>

            <div class="test__texts">
              <span class="test__title">mileage |</span>
              <div class="test__text">{{test.mileage }}</div>
            </div>
            <div class="test__texts">
              <span class="test__title">mot test number |</span>
              <div class="test__text">{{test.motTestNumber }}</div>
            </div>

            <mat-icon [matBadge]="test.comments?.length" matBadgeColor="accent" matBadgeSize="small" 
                class="test__icon">chat</mat-icon>
          </div>

          <div class="test__mdetails">
            <div class="test__dates">
              <span class="test__title">completed |</span>
              <div class="test__date">{{test.completedDate | date: 'longDate' }}</div>
            </div>
            <mat-icon [matBadge]="test.comments.length" matBadgeColor="accent" matBadgeSize="small" *ngIf="test.comments && test.comments.length > 0"
              class="test__icon">chat</mat-icon>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header> 
      <div>
        <div class="test__mgrid">
          <div class="test__item">
            <label>Mileage</label>
            <div class="test__mtext">{{test.mileage}}</div>
          </div>

          <div class="test__item">
            <label>MOT Test Number</label>
            <div class="test__mtext">{{test.motTestNumber}}</div>
          </div>

          <div class="test__item">
            <label>Expires</label>
            <div class="test__mtext">{{test.expiryDate | date: 'shortDate' }}</div>
          </div>
        </div>
        <ul class="test__comments" *ngIf="test.comments">
          <li class="test__comment" *ngFor="let comment of test.comments; index as ci">
            <small>{{comment.text}}</small>
          </li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
