@import '../../../mixins';

.tests {
  display: flex;
  justify-content: center;
  width: 100%;

  &__panel {
    width: 100%;
  }

  &__test {
    &--ok {
      color: var(--ok);
    }

    &--warning {
      color: var(--warning);
    }
  }
}

.test {
  &__details {
    display: none;
    grid-template-columns: 1fr 1fr 20px;
    row-gap: 5px;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }

  &__dates, &__texts {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__date, &__text {
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 4px;
    color: rgb(21, 20, 22);
    font-weight: 600;
  }

  &__title {
    font-size: 10px;
    text-transform: uppercase;
    color: rgb(118,116,116);
  }

  &__icon {
    grid-column: 3/3;
    grid-row: 1/3;
    align-self: center;
  }

  &__result {
    font-weight: 600;
  }

  &__comments {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__comment {
    font-weight: 600;
    letter-spacing: 0.02em;
  }

  &__mgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
  }

  &__item {
    label {
      text-transform: uppercase;     
      color: rgb(118, 116, 116);
      font-weight: 500;
      font-size: 10px;
    }
  }

  &__mtext {
    color: rgb(21, 20, 22);
    font-weight: 600;
    font-size: 15px;
  }
}

@include respond-above(mummyshark) {
  .test {
    &__details {
      display: grid;
    }

    &__mdetails, &__mgrid {
      display: none;
    }
  }
}

@include respond-below(mummyshark) {
  .test {
    &__details {
      display: none;
    }

    &__mdetails {
      display: grid;
      grid-template-columns: 1fr 30px;
      width: 100%;
    }
  }
}

@include respond-below(babyshark) {
  .test {
    &__title {
      display: none;
    }

    &__mgrid {
      grid-template-columns: 1fr 1fr;
    }
  }
}