@import '../../../mixins';

.dvlainfo {
  display: flex;
  &__container {
    width: 100%;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__top-grid {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 25px;
    align-items: flex-start;
    padding: 10px 1rem;
  }

  &__icon {
    &:hover {
      cursor: pointer;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 25px;
  }

  &__tax {
    margin-top: 20px;
    padding: 10px 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    background-color: rgba(0,0,0,0.02);
    align-items: center;
    justify-content: center;
    
    &__status {
      font-size: 3em;
      font-weight: 600;
      &--warning {
        color: var(--warning);
      }

      &--ok {
        color: var(--ok);
      }
    }
  }


}