<div class="dvlainfo">
  <div class="dvlainfo__container">
    <mat-card class="dvlainfo__card" *ngIf="dvlaVehicle$ | async as dvla; else nodata">
      <mat-card-header>
        <mat-card-title>DVLA information</mat-card-title>
        <mat-card-subtitle>{{dvla.registration}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="dvlainfo__items">

          <div class="dvlainfo__item">
            <label>Make</label>
            <div class="main__result">{{dvla.make}}</div>
          </div>
                    
          <div class="dvlainfo__item">
            <label>Engine Capacity</label>
            <div class="main__result">{{dvla.engineCapacity}}</div>
          </div>

          <div class="dvlainfo__item">
            <label>Color</label>
            <div class="main__result">{{dvla.color}}</div>
          </div>

          <div class="dvlainfo__item">
            <label>Fuel Type</label>
            <div class="main__result">{{dvla.fuelType}}</div>
          </div>

          <div class="dvlainfo__tax">
            <label>Tax Status</label>
            <div class="dvlainfo__tax__status"
              [ngClass]="{ 'main__status--warning': getTaxStatus(dvla.dvlaInfo.taxStatus) === 'Untaxed',
              'main__status--ok': getTaxStatus(dvla.dvlaInfo.taxStatus) === 'Taxed' }">{{dvla.dvlaInfo.taxStatus}}</div>
          </div>

        </div>
      </mat-card-content>
    </mat-card>

    <ng-template #nodata>
      <div>
        <h4>No DVLA data yet!</h4>
      </div>
    </ng-template>
  </div>
</div>