@import '../../../mixins';

.dvlainfo {
  display: flex;
  &__container {
    width: 100%;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 1fr;
  }

  &__top-grid {  
    grid-column: 2/2;
    grid-row: 1/3;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 25px;
    align-items: flex-start;
    padding: 10px 1rem;
  }

  &__emissions {
    padding: 2em 0;
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      margin-top: 2em;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__icon {
    &:hover {
      cursor: pointer;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 25px;
  }

  &__tax {
    margin-top: 20px;
    padding: 10px 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    background-color: rgba(0,0,0,0.02);
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    &__status {
      font-size: 3em;
      font-weight: 600;
      &--warning {
        color: var(--warning);
      }

      &--ok {
        color: var(--ok);
      }
    }
  }


}

@include respond-below(mummyshark) {
  .dvlainfo {
    &__grid {
      display: flex;
      flex-direction: column;
    }

    &__tax {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      padding: 1em 2em;
      margin: 20px 0;
    }

    &__emissions {
      &__container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px; 
        padding: 1em 2em;       
      }

      &__item {
        align-items: flex-start;
      }

      &__divider {
        height: 50px;
      }
    }
  }
}

@include respond-below(babyshark) {
  .dvlainfo {
    &__tax {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__taxdue {
      margin-top: 10px;
    }
  }
}