<div class="home">
  <div class="home__container">
   
    <app-home-info></app-home-info>

    <carid-help-info></carid-help-info>
    
    <div class="home__checklist">
      <h4 class="home__headline"><span>MOT LOOKUP</span> provides the MOT history of a vehicle including..</h4>
      <ul class="home__list">
        <li *ngFor="let item of checklist">
          {{item}}
        </li>
      </ul>
      <div class="home__note">
        <p>
          <span class="home__highlighted">Note</span> data is available for England, Scotland and Wales from 2005 to present day (Northern Ireland data is unavailable)
        </p>
      </div>
    </div>    
  </div>
</div> 