@import '../../mixins';

.home {
  display: flex;
  justify-content: center;
  

  &__container {
    display: flex;
    flex-direction: column; 
    width: 100%;   
  }
}

@include respond-above(daddyshark) {
  .home {
    &__container {
      
    }
  }
}