@import '../../mixins';

.home {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@include respond-above(daddyshark) {
  .home {
    &__container {
      padding: 1em 2em;
    }
  }
}