<div class="help-info">
  
  <div class="help-info__container">
    <h2 class="help-info__title">Check for the latest MOT history & DVLA tax status</h2>
    <section class="help-info__items">
      <div class="help-info__item">
        <fa-icon [icon]="faCarOn" size="3x"
          [styles]="{ 'color': 'var(--brand-green)' }"></fa-icon>
          <h3 class="help-info__subtitle">MOT</h3>
          <p>The latest MOT history straight including up to date <strong>mileage info...</strong></p>
      </div>

      <div class="help-info__item">
        <fa-icon [icon]="faIdCard" size="3x" [styles]="{ 'color': 'var(--brand-green)' }"></fa-icon>
        <h3 class="help-info__subtitle">DVLA</h3>
        <p>Check whether a vehicle is <strong>marked for export</strong> plus tax status...</p>
      </div>

      <div class="help-info__item">
        <fa-icon [icon]="faDatabase" size="3x" [styles]="{ 'color': 'var(--brand-green)' }"></fa-icon>
        <h3 class="help-info__subtitle">Statistics</h3>
        <p>See whether a <strong>vehicle's mileage</strong> is increasing or decreasing... </p>
      </div>
    </section>
  </div>
</div>
