@import '../../../mixins';

.motd {
  display: flex;
  justify-content: center;
  width: 100%;
  &__container, &__sub {
    width: 100%;
  }

  &__spinner {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2em 0;
  }

  &__header {
    //background-color: var(--brand-green);
    padding: 5px 10px;
    color: var(--brand-color);
    font-size: 2rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid var(--brand-color);
    display: flex;
    justify-content: flex-end;
  }

  &__col {
    display: flex;
    flex-direction: column;

    &--end {
      align-items: flex-end;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__text {
    font-size: 0.85em;
  }

  &__top-grid {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 25px;
    align-items: flex-start;
    padding: 10px 1rem;
  }

  &__latest, &__stats, &__tests {
    margin-top: 20px;  
    padding: 10px 1rem;  
  }

  &__latest {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    column-gap: 10px;
    background-color: rgba(0,0,0,0.02);
    align-items: center;
    justify-content: center;
   
  }

  &__subtitle {
    text-transform: uppercase;
    color: rgb(118, 116, 116);
    font-weight: 500;
    font-size: 12px;
    
  }
}

@include respond-below(mummyshark) {
  .motd {
    &__grid {
      display: flex;
      flex-direction: column;
    }

    &__latest {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      padding: 1em 2em;
      margin: 20px 0;
    }

    &__top-grid {
      align-items: center;
      justify-content: center;
    }
  }
}

@include respond-below(babyshark) {
  .motd {
    &__latest {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__expire {
      margin-top: 10px;
    }
  }
}