@import '../../../mixins';

.motd {
  display: flex;
  &__container {
    width: 100%;
  }

  &__header {
    //background-color: var(--brand-green);
    padding: 5px 10px;
    color: var(--brand-color);
    font-size: 2rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid var(--brand-color);
    display: flex;
    justify-content: flex-end;
  }

  &__col {
    display: flex;
    flex-direction: column;

    &--end {
      align-items: flex-end;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__top-grid {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 25px;
    align-items: flex-start;
    padding: 10px 1rem;
  }

  &__latest, &__stats, &__tests {
    margin-top: 20px;  
    padding: 10px 1rem;  
  }

  &__latest {
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    background-color: rgba(0,0,0,0.02);
    align-items: center;
    justify-content: center;
   
  }

  &__subtitle {
    text-transform: uppercase;
    color: rgb(118, 116, 116);
    font-weight: 500;
    font-size: 12px;
    
  }
}