/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--brand-green);
}

label {
  text-transform: uppercase;
  color:rgba(118, 116, 116, 1);
  font-weight: 500;
  font-size: 12px;
}

.main {
  &__result {
    color: rgb(21, 20, 22);
    font-weight: 600;
    margin-top: 2px;
    font-size: 1.4em;
  }

  &__status {
    font-size: 3em;
    font-weight: 600;
    &--warning {
      color: var(--warning);
    }

    &--ok {
      color: var(--ok);
    }
  }
}

:root {
  --brand-green: #73c49e;
  --brand-color: rgba(32, 28, 41, 0.8);
  --brand-dark: rgb(21,21,21);
  --huge-size: 54px;
  --huge-size-ds: 48px;
  --huge-size-ms: 36px;
  --huge-size-bs: 32px;

  --warning: rgb(224, 41, 41);
  --ok: rgb(30, 176, 52);

  --max-width: 1250px;
}